.cards-wrapper {
  align-items: flex-start;
  display: flex;
  overflow-x: auto;

  @media (breakpoint('desktop')) {
    justify-content: center;
  }
}

.card {
  $card-bg: color('white');
  $border-color: color('purple');

  border: 0;
  list-style: none;
  padding-left: 0;

  flex: 0 0 auto;
  background-color: $card-bg;
  border-color: $border-color;
  box-shadow: shadow('box');
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover,
  &:focus {
    box-shadow: shadow('box-hover');
  }
}

.card__name {
  font-weight: bold;
  letter-spacing: -0.025em;
  text-transform: uppercase;
}

.card__relative-size,
.card__actual-size {
  font-size: font-size('xs');
}
