// xxs xs sm md lg xl xxl
$margin-size: map-keys($spacing);

// Every direction
// Use: .m-xxs .m-xs .m-sm .m-md .m-lg .m-xl .m-xxl
@each $size in $margin-size {
  .m-#{$size} {
    margin: space($size);
  }
}

// Top margins
// Use: .mt-xxs .mt-xs .mt-sm .mt-md .mt-lg .mt-xl .mt-xxl
@each $size in $margin-size {
  .mt-#{$size} {
    margin-top: space($size);
  }
}

// Bottom margins
// Use: .mb-xxs .mb-xs .mb-sm .mb-md .mb-lg .mb-xl .mb-xxl
@each $size in $margin-size {
  .mb-#{$size} {
    margin-bottom: space($size);
  }
}

// Left margins
// Use: .ml-xxs .ml-xs .ml-sm .ml-md .ml-lg .ml-xl .ml-xxl
@each $size in $margin-size {
  .ml-#{$size} {
    margin-left: space($size);
  }
}

// Right margins
// Use: .mr-xxs .mr-xs .mr-sm .mr-md .mr-lg .mr-xl .mr-xxl
@each $size in $margin-size {
  .mr-#{$size} {
    margin-right: space($size);
  }
}

// Top and Bottom margins
// Use: .my-xxs .my-xs .my-sm .my-md .my-lg .my-xl .my-xxl
@each $size in $margin-size {
  .my-#{$size} {
    margin-top: space($size);
    margin-bottom: space($size);
  }
}

// Left and right margins
// Use: .mx-xxs .mx-xs .mx-sm .mx-md .mx-lg .mx-xl .mx-xxl
@each $size in $margin-size {
  .mx-#{$size} {
    margin-left: space($size);
    margin-right: space($size);
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

// Reset margins to 0
.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mx-0 {
  margin-right: 0;
  margin-left: 0;
}
