// Every direction
// Use: .p-xxs .p-xs .p-sm .p-md .p-lg .p-xl .p-xxl
@each $size in map-keys($spacing) {
  .p-#{$size} {
    padding: space($size);
  }
}

// Top paddings
// Use: .pt-xxs .pt-xs .pt-sm .pt-md .pt-lg .pt-xl .pt-xxl
@each $size in map-keys($spacing) {
  .pt-#{$size} {
    padding-top: space($size);
  }
}

// Bottom paddings
// Use: .pb-xxs .pb-xs .pb-sm .pb-md .pb-lg .pb-xl .pb-xxl
@each $size in map-keys($spacing) {
  .pb-#{$size} {
    padding-bottom: space($size);
  }
}

// Left paddings
// Use: .pl-xxs .pl-xs .pl-sm .pl-md .pl-lg .pl-xl .pl-xxl
@each $size in map-keys($spacing) {
  .pl-#{$size} {
    padding-left: space($size);
  }
}

// Right paddings
// Use: .pr-xxs .pr-xs .pr-sm .pr-md .pr-lg .pr-xl .pr-xxl
@each $size in map-keys($spacing) {
  .pr-#{$size} {
    padding-right: space($size);
  }
}

// Top and Bottom paddings
// Use: .py-xxs .py-xs .py-sm .py-md .py-lg .py-xl .py-xxl
@each $size in map-keys($spacing) {
  .py-#{$size} {
    padding-top: space($size);
    padding-bottom: space($size);
  }
}

// Left and right paddings
// Use: .px-xxs .px-xs .px-sm .px-md .px-lg .px-xl .px-xxl
@each $size in map-keys($spacing) {
  .px-#{$size} {
    padding-left: space($size);
    padding-right: space($size);
  }
}

// Reset paddings to 0
.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.px-0 {
  padding-right: 0;
  padding-left: 0;
}
