$mobile-font-size: 14px;
$desktop-font-size: 18px;

$line-height: 1.5;

// These set the text-crop mixin height for consistent baseline
// See use and more details in text-crop.scss
$text-crop-top: 6;
$text-crop-bottom: 6;
$text-crop-font-size: 18px; // Default $desktop-font-size
$text-crop-line-height: $line-height;

$font-sizes: (
  'headline': 2em,
  'subhead': 1.5em,
  'md': 1em,
  'sm': 0.88em,
  'xs': 0.8em
);

@function font-size($font-size) {
  @if map-has-key($font-sizes, $font-size) {
    @return map-get($font-sizes, $font-size);
  } @else {
    @error '`#{$font-size}` is an invalid argument in font-size() . Try: #{map-keys($font-sizes)}.';
  }
}
